/* Button.css */

button {
  background-color: lightgreen; /* Indigo-600 */
  color: Black;
  padding: 0.5vw 5vw;
  border: black;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(133, 33, 222, 0.1);
  font-size: 2rem;
  font-weight: 600;
  font-family: "Segoe UI", sans-serif;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: aquagreen; /* Indigo-700 */
  transform: translateY(-2px);
}

button:active {
  background-color: green; /* Indigo-800 */
  transform: translateY(0);
}
